Source: pulseaudio-modules-droid-glue
Section: sound
Priority: optional
Build-Depends: android-headers (>= 23),
    debhelper (>= 9),
    check,
    dh-autoreconf,
    dh-exec,
    intltool,
    audioflingerglue-dev,
    pulseaudio-dev,
    libpulse-dev,
    libhardware-dev,
    libhybris-dev,
    pulseaudio-modules-droid-dev
Maintainer: Marius Gripsgard <marius@ubports.com>
Standards-Version: 3.9.5
Homepage: https://github.com/ubports/pulseaudio-modules-droid-glue

Package: pulseaudio-modules-droid-glue
Architecture: armhf arm64 amd64
Depends: ${misc:Depends},
         ${shlibs:Depends},
Description: PulseAudio Droid HAL glue module.
