#!/usr/bin/make -f
# -*- makefile -*-

DEB_HOST_MULTIARCH ?= $(shell dpkg-architecture -qDEB_HOST_MULTIARCH)

%:
	dh $@ --with=autoreconf --parallel --fail-missing

override_dh_auto_configure:
	dh_auto_configure -- --disable-static --with-audioflingerglue-base="/system"

override_dh_shlibdeps:
	dh_shlibdeps --dpkg-shlibdeps-params=--ignore-missing-info -l/usr/lib/${DEB_HOST_MULTIARCH}/pulseaudio:/usr/lib/pulse-8.0/modules

override_dh_auto_install:
	dh_auto_install
	mv debian/pulseaudio-modules-droid-glue-24/usr/lib/pulse-8.0/modules/module-droid-glue.so debian/pulseaudio-modules-droid-glue-24/usr/lib/pulse-8.0/modules/module-droid-glue-24.so
	rm debian/pulseaudio-modules-droid-glue-24/usr/lib/pulse-8.0/modules/*.la
